.social-media-bar {
  background-color: $black;
  height: 30vh;

  a {
    text-decoration: none;
    color: $primary;
    font-size: 14px;
    margin: 0 2vw;
    word-break: keep-all;
  }

  &__logo {
    white-space: nowrap;
    transition: all 0.8s ease 0s;

    &:hover {
      transition: all 0.8s ease 0s;
      color: $white !important;
    }

    path {
      fill: $primary;
      stroke-width: 0.5;
      stroke: $primary;
    }

    &--facebook path {
      stroke-dasharray: 60;
      stroke-dashoffset: 0;

      &:hover {
        animation: facebookIcon 1s linear forwards;
        
        @keyframes facebookIcon {
          0% {
            stroke-dashoffset: 0;
            fill: transparent;
          }
          100% {
            stroke-dashoffset: 60;
            stroke: $white;
            fill: $white;
          }
        }
      }
    }

    &--twitter path {
      stroke-dasharray: 74;
      stroke-dashoffset: 0;

      &:hover {
        animation: twitterIcon 1s linear forwards;
        
        @keyframes twitterIcon {
          0% {
            stroke-dashoffset: 0;
            fill: transparent;
          }
          100% {
            stroke-dashoffset: 74;
            stroke: $white;
            fill: $white;
          }
        }
      }
    }

    &--youtube path {
      fill: $primary;
      stroke: $primary;
      stroke-dasharray: 77;
      stroke-dashoffset: 0;

      &:hover {
        animation: youtubeIcon 1s linear forwards;
        
        @keyframes youtubeIcon {
          0% {
            stroke-dashoffset: 0;
            fill: transparent;
          }
          100% {
            stroke-dashoffset: 77;
            stroke: $white;
            fill: $white;
          }
        }
      }
    }

    &--twitch path {
      stroke-dasharray: 70;
      stroke-dashoffset: 0;

      &:hover {
        animation: twitchIcon 1s linear forwards;
        
        @keyframes twitchIcon {
          0% {
            stroke-dashoffset: 0;
            fill: transparent;
          }
          100% {
            stroke-dashoffset: 70;
            stroke: $white;
            fill: $white;
          }
        }
      }
    }
  }

  hr {
    border-top: 1px solid $white;
  }
}

.footer {
  &__copyright {
    font-size: 14px;
    color: $white;
  }

  &__link {
    text-decoration: none;
    transition: all 0.8s ease 0s;

    &:hover {
      transition: all 0.8s ease 0s;
      color: $white;
    }
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .social-media-bar {
    height: 22vh;
  }
}

@media (min-width: 992px) {
  .social-media-bar {
    height: 17vh;
  }
  
  .footer .col-lg-6 {
    text-align: right !important;
  }

  .footer .col-lg-4 {
    text-align: left;
  }
}