.navbar {
  width: 100vw;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: $white;
  z-index: 99;

  &-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
  }

  .nav {
    &-link {
      margin: 0px 1vw 0px 1vw;
      color: $primary !important;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
      transition: all 0.8s ease 0s;

      &:hover {
        transition: all 0.8s ease 0s;
        color: $white !important;
      }

      &--text-black {
        color: $black !important;
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.3) !important;

    &-brand {
      color: $primary !important;
    }

    .nav{
      &-link {
        &--margin {
          margin-left: 20px;
        }
        &:hover {
          background: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
